<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0-preview6-19304-03" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0-preview6.19303.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="PostSharp" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Model" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.3.1-preview" targetFramework="net461" />
  <package id="PostSharp.Redist" version="6.3.1-preview" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>